# Mac/OSX system file
.DS_Store

# Python
**/__pycache__/

# promote_staging_data outputs
promote_staging_data_script.log
*_MANIFEST.tsv
*_data_promotion_report.md

# CRN Cloud Collection summary stats outputs
*crn_cloud_collection_summary.*.tsv
*internal_qc_dataset_collection_summary.*.tsv

